doctype html
html
    head
        link(rel='stylesheet', href='/css/style.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body.style
        div
            h1 #{r.nome}
            img(src = `${r.immagine}`)
            p #{r.email}
            p #{r.sitoWeb}
            p #{r.nazionalita}
            